<div id="comment">
    <%= image_tag comment.user.avatar_url(:thumb) %>
    <%= link_to comment.user.username, user_path(comment.user.id) %>
    <%= comment.created_at.to_formatted_s(:long) if comment.created_at %><br>
    <%= comment.comment %><br><br>
  <!--

  -->
</div>