<nav class="navbar navbar-default navbar-fixed-bottom" id='footer'>
  <div class="container-fluid">
  <small>
    <a href="/">SoundTrack</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '/' %></li>
      <li><%= link_to "Stuff", '/' %></li>
      <li><%= link_to "More Stuff", '/' %></li>
    </ul>
  </nav>
    </div>
</nav>
