<div class="container-fluid">
<footer class="footer">
  <small>
    <a href="/">SoundTrack</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '/' %></li>
      <li><%= link_to "Stuff", '/' %></li>
      <li><%= link_to "More Stuff", '/' %></li>
    </ul>
  </nav>
</footer>
    </div>