

    <%= link_to "Notifications: <span id='notification_count'>#{current_user.get_notifications.count}</span>".html_safe, notifications_path, id: "notificationBadge",
                :action => "update" %>

