<!--<div class="container">-->
  <!--<div class="row">-->
    <div id="feed" class="col-md-6">
      <!-- Center "Orchestra Feed"-->
      <h1 class="lead text-center">Orchestra Feed</h1>

      <ul class="list-unstyled">

        <%= render @posts %>

      </ul>
    </div>
  <!--</div>-->
<!--</div>-->