<% if user_signed_in? %>
<%= form_tag users_path, :method => 'get', :id => 'user_search' do %>
    <p>
      <%= text_field_tag :search, params[:search], placeholder: "Search users" %>
      <%= submit_tag "Search users", :name => nil %>
    </p>
<% end %>
<% end %>