<%# @user ||= current_user %>
<div class="stats">
  <a href="/following">
    <span>Following:</span>
    <strong><%= @following_relationships.count %></strong>
  </a>


  <a href="/followers">
    <span>Followers:</span>
    <strong><%= @follower_relationships.count %></strong>
  </a>

</div>