
<div class="container">
<div class="item">
  <h2></h2>
  <iframe class="video w100" width="640" height="360" src="" frameborder="0" allowfullscreen></iframe>
  <form action="/posts/new">
    <input id="vid_id" type="hidden" name="video_id" value="">
    <input id="vid_tit" type="hidden" name="video_title" value="">
    <button>Post</button>
  </form>
</div>
</div>