<div id="youtube_template">
  <div class="item">
    <h2></h2>
    <iframe class="video w100" width="640" height="360" src="" frameborder="0" allowfullscreen></iframe>
    <form action="/posts/new">
      <input id="vid_id" type="hidden" name="video_id" value="">
      <input id="vid_tit" type="hidden" name="video_title" value="">
      <button>Post</button>
    </form>
  </div>
</div>

<!--<div id="youtube_template">-->
  <!--<div class="embed-responsive embed-responsive-16by9 item">-->
<!--&lt;!&ndash;<div class="item">&ndash;&gt;-->
  <!--<h2></h2>-->
    <!--<iframe class="embed-responsive-item" src="" allowfullscreen></iframe>-->
  <!--&lt;!&ndash;<iframe class="video w100" width="640" height="360" src="" frameborder="0" allowfullscreen></iframe>&ndash;&gt;-->
    <!--<div class="description">-->
        <!--<form action="/posts/new">-->
            <!--<input id="vid_id" type="hidden" name="video_id" value="">-->
            <!--<input id="vid_tit" type="hidden" name="video_title" value="">-->
            <!--<button>Post</button>-->
        <!--</form>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
