<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SoundTrack</title>
</head>
<body>
<h1>Followers</h1>
<% if user_signed_in? %>
    <% @follower_relationships.each do |follower| %>
        <ul>
          <li><%= link_to follower.follower.username, user_path(follower.follower)  %></li>
        </ul>
    <% end %>
<% else %>
    <%= render :back %>
<% end %>

<li><%= link_to 'Home', root_path %></li>
</body>
</html>