<iframe id="new_post_vid" class="video w100" width="640" height="360" src="//www.youtube.com/embed/videoID" frameborder="0" allowfullscreen></iframe>


<form action="/post" method="post">
  <input id="post_title" type="hidden" name="post[title]" value="">
  <input id="post_desc" type="hidden" name="post[description]" value="">
  <input id="post_videoid" type="hidden" name="post[video_id]" value="">
  <input id="post_userid" type="hidden" name="post[user_id]" value="">
  <button>Submit</button>
</form>