
<div class="container-fluid">
  <% if !user_signed_in? %>
      <div class="jumbotron">
        <h1>Sign in sucka!</h1>
        <p>words and stuff and shorts XOXO Vice Austin cardigan. Organic drinking vinegar freegan pickled.</p>
        <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-block" %></p>
        <p><%= link_to 'Sign in', new_user_session_path, class: "btn btn-info btn-block" %></p>
      </div>
  <% end %>
</div>



<% if user_signed_in? %>

  <div class="container">
    <h1>New Post</h1>

    <%= render 'form' %>

    <%= link_to 'Back', posts_path %>
<% end %>
  </div>



