/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.searcher {
  color: #215078;
  border-radius: 3px;
  background-color: rgba(49, 49, 49, 0.68);
}

body {
  height: 100%;
  padding-top: 50px;
  margin-bottom: 0;
  background-color: #215078;
}
.search {
  margin-top: 16px;
}
.navbar a:hover {
  background-color: #525252 !important;
}

.post {
  margin-top: 5px;
}
.navbar {
  border-radius: 5px;
  background-color: rgba(33, 80, 120, 0.85);
  border-bottom: solid #f1f1f1;
}

.navbar a {
  color: #f1f1f1 !important;
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 5px;

}
 #search {
   margin-top: 5px;
 }
.navbar-brand {
  margin-left: 2px !important;
  border-radius: 5px;
  margin-top: 5px;
  background-color: rgba(82, 82, 82, 0.21);
}

/* footer */

#footer {
  border-top: 2px solid #aaaeb1;
  background-color: #215078;
  margin: 0 0 -15px 0;
  padding-top: 5px;
}
#footer a {
  color: #222222;
}
#footer a:hover {
  color: #aeaeae;
}
#footer small {
  float: left;
  font-size: 15px;
}
#footer ul {
  float: right;
  list-style: none;
};

#footer ul li {
  float: left;
  margin-left: 20px;
}

#feed {
  float: inherit;
}
.form-group {
  width:80%;
}
#centered {
  padding-left: 50px;
}
li {
  list-style-type: none;
}

#topcont {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(70, 170, 255, 0.02);
}
#cont {
  margin-top: -21px;
  margin-bottom: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(70, 170, 255, 0.05);
}

.follow-button {
  text-align: center;
}
.uside-bar {
  margin-top: 50px;
}
.follow-button {
  text-align: center;
}
.uside-bar {
  margin-top: 50px;
}
.container-fluid {
  //border: 10px groove ;
  box-shadow: 0px 30px 40px rgba(63, 63, 63, 0.8);

}