/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
//@import "posts";

body {
  height: 100%;
  padding-top: 50px;
  margin-bottom: 0;
  background-color: #151515;
}
.search {
  margin-top: 16px;
}


.post {
  margin-top: 5px;
}

.navbar-brand {
  margin-top: 8px;
}

/* footer */

#footer {
  border-top: 2px solid #aaaeb1;
  background-color: #cbd0d3;
  margin: 0 0 -15px 0;
  padding-top: 5px;
}
#footer a {
  color: #222222;
}
#footer a:hover {
  color: #27868b;
}
#footer small {
  float: left;
  font-size: 15px;
}
#footer ul {
  float: right;
  list-style: none;
};

#footer ul li {
  float: left;
  margin-left: 20px;
}
.jumbotron {
  background: rgb(225, 225, 225); /* This is for ie8 and below */
  background: rgba(225, 225, 225, 0.5);
}

.jumbotron#background{
  background: url("music.png") no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.container#background2{
  background: url("music.png") no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.navlinks {
  padding-top: 5px;
}
