<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SoundTrack</title>
</head>
<body>
<h1>People You're Following</h1>
<% if user_signed_in? %>
  <% @following_relationships.each do |following| %>
    <ul>
      <li><%= link_to following.following.username, user_path(following.following_id) %></li>
    </ul>
  <% end %>
<% else %>
    <%= render :back %>
<% end %>

<%= link_to 'Home', root_path %>
</body>
</html>